<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.demo.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.com.demo.pojo.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="created_dt" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_dt" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.name != null" >
         and name = #{condition.name}
      </if>
      <if test="condition.password != null" >
         and password = #{condition.password}
      </if>
      <if test="condition.phone != null" >
         and phone = #{condition.phone}
      </if>
      <if test="condition.createdDt != null" >
         and created_dt = #{condition.createdDt}
      </if>
      <if test="condition.createdBy != null" >
         and created_by = #{condition.createdBy}
      </if>
      <if test="condition.updatedDt != null" >
         and updated_dt = #{condition.updatedDt}
      </if>
      <if test="condition.updatedBy != null" >
         and updated_by = #{condition.updatedBy}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, name, password, phone, created_dt, created_by, updated_dt, updated_by
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="cn.com.demo.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_m_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_m_user
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_m_user
    where id = #{id}
  </delete>
  <delete id="deleteByParams" parameterType="cn.com.demo.pojo.Criteria" >
    delete from sys_m_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.demo.pojo.User" >
    insert into sys_m_user (id, name, password, phone, created_dt, created_by, updated_dt, 
      updated_by)
    values (#{id}, #{name}, #{password}, #{phone}, #{createdDt}, #{createdBy}, #{updatedDt}, 
      #{updatedBy})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.demo.pojo.User" >
    insert into sys_m_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="createdDt != null" >
        created_dt,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updatedDt != null" >
        updated_dt,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="password != null" >
        #{password},
      </if>
      <if test="phone != null" >
        #{phone},
      </if>
      <if test="createdDt != null" >
        #{createdDt},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="updatedDt != null" >
        #{updatedDt},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="cn.com.demo.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from sys_m_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update sys_m_user
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.name != null" >
        name = #{record.name},
      </if>
      <if test="record.password != null" >
        password = #{record.password},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone},
      </if>
      <if test="record.createdDt != null" >
        created_dt = #{record.createdDt},
      </if>
      <if test="record.createdBy != null" >
        created_by = #{record.createdBy},
      </if>
      <if test="record.updatedDt != null" >
        updated_dt = #{record.updatedDt},
      </if>
      <if test="record.updatedBy != null" >
        updated_by = #{record.updatedBy},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update sys_m_user
    set id = #{record.id},
      name = #{record.name},
      password = #{record.password},
      phone = #{record.phone},
      created_dt = #{record.createdDt},
      created_by = #{record.createdBy},
      updated_dt = #{record.updatedDt},
      updated_by = #{record.updatedBy}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.demo.pojo.User" >
    update sys_m_user
    <set >
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
      <if test="phone != null" >
        phone = #{phone},
      </if>
      <if test="createdDt != null" >
        created_dt = #{createdDt},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy},
      </if>
      <if test="updatedDt != null" >
        updated_dt = #{updatedDt},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.demo.pojo.User" >
    update sys_m_user
    set name = #{name},
      password = #{password},
      phone = #{phone},
      created_dt = #{createdDt},
      created_by = #{createdBy},
      updated_dt = #{updatedDt},
      updated_by = #{updatedBy}
    where id = #{id}
  </update>
</mapper>